
body {
	background: #f2eb1a;
}

.jumbotron{
	margin-top: 20px;
	background-color: white;
	border-radius: 10px;
	border: 5px solid #383838;
}

#headPin{
	font-family: 'Comfortaa', cursive;
}

#sidebar {
	border-right: 2px solid black;

}

.form-check{
	font-family: 'Raleway', sans-serif;
}

input {
	margin-bottom: 10px;
}

#map{
	margin-left: 40px;
	height:500px;
	width:70%;
	border: 5px solid #eee;
}

.timeBtn{
	margin: 5px;
}

.modal-header {
	background: linear-gradient(to right,#e22b2b, #aa3636);
	color: white;
}
.modal-footer {
	background: linear-gradient(to left,#e22b2b, #aa3636);
}


#pop {
	color: blue;
}
ul {
	list-style-type:none;
}