
body {
	background: #f2eb1a;
}

.jumbotron{
	margin-top: 20px;
	background-color: white;
	border-radius: 10px;
	border: 5px solid #383838;
}

#sidebar {
	border-right: 2px solid black;

}

input {
	margin-bottom: 10px;
}

#map{
	margin-left: 40px;
	height:500px;
	width:70%;
	border: 5px solid #eee;
}
