body {
	background: #34aac1;
}
.statesName {
	padding: 12px 0 6px 0; font: bold 18px/18px "Verdana", sans-serif;
	text-align: center;
	margin: 10px;
	width: 250px;
    height: 50px;
    background-color: yellow;
    color: blue;
    box-shadow: blur;
    border-radius: 5px;
}
.list-states {
	display: inline-block;
	padding: 20px;
}
.deathData {
	padding: 12px 0 6px 0; font: bold 18px/18px "Verdana", sans-serif;
	text-align: center;
	margin-top: 10px;
	width: 250px;
    height: 50px;
    background-color: yellow;
    color:blue;
    box-shadow: blur;
    border-radius: 5px;
}
.list-deathData {
	display: inline-block;
}

