
body {
	background: #f2eb1a;
}

.jumbotron{
	margin-top: 20px;
	background-color: white;
	border-radius: 10px;
	border: 5px solid #383838;
}

#headPin{
	font-family: 'Comfortaa', cursive;
}

#sidebar {
	border-right: 2px solid black;
}

.form-check{
	font-family: 'Raleway', sans-serif;
}

input {
	margin-bottom: 10px;
}

#map{
	margin-left: 40px;
	height:500px;
	width:95%;
	border: 5px solid #eee;
}

.timeBtn{
	margin: 5px;
}

.modal-header {
	background: linear-gradient(to right,#e22b2b, #aa3636);
	color: white;
}
.modal-footer {
	background: linear-gradient(to left,#e22b2b, #aa3636);
}



#pop .popTitle {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
	font-weight: 400;
	padding: 10px;
	background-color: #48b5e9;
	color: white;
	margin: 1px;
	border-radius: 0 0 2.5px 0;
}

.gm-style-iw {
	width: 350px !important;
	top: 0 !important;
	left: 0 !important;
	border-radius: 2px 2px 0 0;
}
#pop p{
	margin-left: 10px;
}
ul {
	list-style-type:none;
	padding-top: 10px;
	letter-spacing: 1.15px;
}

li{
	line-height: 17.5px;
}

#currentDataset{
	color: #9013b2;
	margin-left: 40px;
	font-family: 'Raleway', sans-serif;
	font-size: 38px;
	font-weight: 500;
	border: 2px solid silver;
	padding: 20px 40px 20px 40px;
}
